/*
Table of Contents
1.  Navigation

5.  Structures
*/

/* 1. Navigation */
.navigation {
  display: flex;
  background-color: black;
  min-height: 69px;
  border-bottom: 1px solid seashell;
}

.container-logo {
  display: flex;
  align-items: center;
  align-content: center;
}
.nav-logo {
  display: flex;
  height: 50px;
  opacity: 0.9;
  padding: 0 0 0 10px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}

.nav-list .nav-item {
  display: flex;
  font-size: 22px;
}

.nav-item {
  color: white;
  opacity: 0.9;
}

/* 5. Structures */
.container {
  width: 33%;
}
